extends layout

block content
  h2 Liste des projets realisées 
  table
    thead
      tr(class="bg-gray-400")
        th(class="border-2 border-gray-400 p-1") ID
        th(class="border-2 border-gray-400 p-1") Date
        th(class="border-2 border-gray-400 p-1") Nom
        th(class="border-2 border-gray-400 p-1") Langage
        th(class="border-2 border-gray-400 p-1") Technologie
        th(class="border-2 border-gray-400 p-1") Image
        th(class="border-2 border-gray-400 p-1") Description
        th(class="border-2 border-gray-400 p-1") Link
        th(class="border-2 border-gray-400 p-1") Tags
        th(class="border-2 border-gray-400 p-1")
    tbody
      each item in jsonData
        tr
          td(class="border-2 border-gray-400 p-1 text-center")= item.id
          td(class="border-2 border-gray-400 p-1")= item.date 
          td(class="border-2 border-gray-400 p-1 truncate")= item.name
          td(class="border-2 border-gray-400 p-1")= item.langage
          td(class="border-2 border-gray-400 p-1")= item.technologie 
          td(class="border-2 border-gray-400 p-1")= item.image
          td(class="border-2 border-gray-400 p-1")= item.description
          td(class="border-2 border-gray-400 p-1")= item.link 
          td(class="border-2 border-gray-400 p-1")= item.tags
          td(class="border-2 border-gray-400 p-1")
            a(href=`/projects/${item.id}`) Modifier 
            a(href=`/projects/${item.id}`) Supprimer

